@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
a{
text-decoration: none;
cursor:pointer;
color: blue;

}
/* sudo class can overide each other Must be in this order*/
a:visited{
     color: purple;
}
a:hover{
    color: dodgerblue;
}
a:active{
    color: red;
}