body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background:papayawhip; 
    color:rgb(0,200,255);
}

p{
    /*color: rgba(0, 0, 0, alpha);*/
    color: #000; /* not all have short hand colours for rgb*/

    color: #fff;
    color: #333;

}